body {
    background-image: linear-gradient(to right, rgb(52,97,165), rgb(20,67,144));
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: white;
    margin: 30px;
}

#root {
    display: flex;
    justify-content: center;
}